In [1]:
import geopandas as gpd
import pandas as pd

In [2]:
df = pd.read_csv('alchamptree_with_leafimg.csv')

In [5]:
df['total_points']

0     423.0
1     131.0
2     238.0
3     223.0
4     222.0
      ...
67    258.0
68    210.0
69    115.0
70    248.0
71    192.0
Name: total_points, Length: 72, dtype: float64

In [6]:
gdf = gpd.read_file('al_champTree_leafimg_wiki.geojson')

479.0

In [10]:
gdf[gdf.total_points == gdf['total_points'].max()]

,species_x,subspecies,scientific_name,year_named,circumference_in,height_in,spread_ft,total_points,county,year_remeasured,...,sci_lc,file_id,image_path,segmented_path,species_y,source,wiki_summary,Longitude,Latitude,geometry
52,OAK,Live,Quercus virginiana,2013.0,363.0,82.0,136.0,479.0,Mobile,2018,...,quercus virginiana,72681.0,dataset/images/lab/quercus_virginiana/wb1373-0...,dataset/segmented/lab/quercus_virginiana/wb137...,Quercus virginiana,lab,"Quercus virginiana, also known as the southern...",-88.196568,30.684573,POINT (-88.19657 30.68457)